.home-wrapper {
  display: flex;
  gap: 6px;
  padding: 44px 80px 24px 80px;
  background-color: white;
  height: 500px;
  flex-direction: column;
}
.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.greet {
  font-family: "OjahBold";
  font-weight: 400;
  font-size: 32px;
  margin: 0;
  padding: 0;
}
.currentDate {
  font-size: 16px;
  font-weight: 500;
  color: var(--Grey1);
}
