.customSelect {
  position: relative;
}

.customSelect .selectText {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 0.77em 1em;
  font-size: 1rem;
  width: 100%;
  line-height: 1.5;
  color: #495057;
  background-color: #f1f2f3;
  background-clip: padding-box;
  border-radius: 12px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.selectText.focused {
  border: solid 1px var(--pryColor);
  outline: 0;
  border-radius: 12px;
}

.customSelect .options {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0px 1px 5px 2px rgba(216, 216, 216, 0.2);
  z-index: 1;
  color: var(--greyColr);
  border-radius: 12px;
  max-height: 50vh;
}
.options {
  max-height: 50vh;
  overflow-y: scroll;
}

.customSelect .placeholder {
  color: #676869;
  font-size: 14px;
  font-weight: 500;
}

.customSelect .option {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  align-items: left;
  gap: 10px;
}

.customSelect .option:hover {
  color: var(--greyColr);
  background-color: #f7f8ff;
}

.bank-option {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 400;
  display: flex;
  align-items: center;
  font-size: 15px;
  align-items: left;
  gap: 10px;
}

.bank-option:hover {
  color: var(--greyColr);
  background-color: #f7f8ff;
}
