.purple-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.purple-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #dbb950;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.2s;
}

.purple-checkbox input:checked + .checkmark {
  background-color: #dbb950;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.purple-checkbox input:checked + .checkmark:after {
  display: block;
}

.purple-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.label-text {
  margin-left: 8px;
  font-size: 14px;
}
